<p id="notice"><%= notice %></p>


<h3><%= @article.title %></h3>


<p>
  <strong>Author:</strong>
  <%= @article.author %>
  <br>
  published on <%= @article.created_at.strftime("%b %d, %Y") %><br>
</p>
<br>
<p>
  <%= image_tag(@article.image_url) %>
</p>
<br>
<p>
  <%= @article.body %>
</p>
<br>

<div class="article-control">
  <%= link_to 'Back', root_path %>
</div>
